<template>
    <div class="">
        <div class="Polaris-Page__Content">
            <div class="Polaris-Card__Header">
                <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                    <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                        <h2 class="Polaris-Heading text-capitalize">Insert header footer script</h2>
                    </div>
                </div>
                <br>
            </div>

            <div class="Polaris-Card" style="overflow: visible;margin-bottom: 50px;">
                <!--        script tab-->
                <tab type="instructions"></tab>
                <!--        END:: script tab-->
                <!--                <div class="Polaris-Card__Section" style="padding:0px;">-->
                <!--                    <div class="card listing">-->
                <!--                        <div class="card-header accordion" id="listing" style="cursor:pointer;">-->
                <!--                            <h2 class="mb-0">-->
                <!--                                <button class="btn btn-link" type="button" >-->
                <!--                                    Script-->
                <!--                                </button>-->
                <!--                            </h2>-->
                <!--                        </div>-->

                <!--                        <div id="collapse-listing panel" class="collapse" style="display: none;">-->
                <!--                            <div class="card-body">-->
                <!--                                <ul>-->
                <!--                                    <li><h5>About tutorial</h5></li>-->
                <!--                                    <p>-->
                <!--                                        Here, all script is listing below.-->
                <!--                                    </p>-->
                <!--                                    <li><h5>Create Metafield Configuration</h5></li>-->
                <!--                                    <p>- First, open metafields configuration app and enter in configurations module.<br>-->
                <!--                                        - Here, create configuration for any resource you want to create metafield.-->
                <!--                                    </p>-->
                <!--                                    <img src="/static_upload/installation_ss/configurations/1.png" class="meta-config-install-img">-->
                <!--                                </ul>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="card add-script">-->
                <!--                        <div class="card-header accordion" id="add-script" style="cursor:pointer;">-->
                <!--                            <h2 class="mb-0">-->
                <!--                                <button class="btn btn-link" type="button" >-->
                <!--                                    Add Script-->
                <!--                                </button>-->
                <!--                            </h2>-->
                <!--                        </div>-->

                <!--                        <div id="collapse-add-script panel" class="collapse" style="display: none;">-->
                <!--                            <div class="card-body">-->
                <!--                                <ul>-->
                <!--                                    <li><h5>About tutorial</h5></li>-->
                <!--                                    <p>-->
                <!--                                        Here, all script is listing below.-->
                <!--                                    </p>-->
                <!--                                    <li><h5>Create Metafield Configuration</h5></li>-->
                <!--                                    <p>- First, open metafields configuration app and enter in configurations module.<br>-->
                <!--                                        - Here, create configuration for any resource you want to create metafield.-->
                <!--                                    </p>-->
                <!--                                    <img src="/static_upload/installation_ss/configurations/1.png" class="meta-config-install-img">-->
                <!--                                </ul>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div>
                    <button class="accordion">Create Script</button>
                    <div class="panel">
                        <ul>
                            <li><h5 class="title-instruction">About tutorial</h5></li>
                            <p>- Here, create your first script.<br>
                            </p>
                            <li><h5 class="title-instruction">Create Script</h5></li>
                            <p>- First, open Insert header footer script app.<br>
                                - Here, create script.
                            </p>
                            <img src="/static_upload/instruction_ss/1.png"
                                 class="script-install-img">
                        </ul>
                    </div>

                    <button class="accordion">Script Listing</button>
                    <div class="panel">
                        <ul>
                            <li><h5 class="title-instruction">About tutorial</h5></li>
                            <p>- Here, all script is listing below.<br>
                                - user can edit,delete,active or deactive script from listing page.
                            </p>
                            <li><h5 class="title-instruction">See script listing</h5></li>
                            <p>- First, open Insert header footer script app.<br>
                                - Here, after creating first script you can see list of your script.<br>
                                - You can edit,delete,active or deactive script from here.<br>
                                - Also you can create new script from here.
                            </p>
                            <img src="/static_upload/instruction_ss/2.png"
                                 class="script-install-img">
                        </ul>
                    </div>

                    <button class="accordion">Un-install app</button>
                    <div class="panel">
                        <ul>
                            <li><h5 class="title-instruction">About tutorial</h5></li>
                            <p>- The steps you have to perform before uninstall the app.</p>
                            <li><h5 class="title-instruction">Delete Scripts</h5></li>
                            <p>- Before un-installing app from the shopify you have to delete all the scripts manually.<br>
                                - Go to app, In the script listing you can see the delete Icon at right corner each just click on it.<br>
                            </p>
                            <img src="/static_upload/instruction_ss/3.png"
                                 class="script-install-img">
                        </ul>
                    </div>

                    <button class="accordion">Remove app code from the theme</button>
                    <div class="panel">
                        <ul>
                            <li><h5 class="title-instruction">About tutorial</h5></li>
                            <p>- The steps you have to perform if you forgot to delete scripts manually from the app.</p>
                            <li><h5 class="title-instruction">Delete Snippet and code</h5></li>
                            <p>- If you forgot to delete scripts then you have to remove code manually from your theme.<br>
                                - The code was placed in your theme.liquid file. <p>
                            <img src="/static_upload/instruction_ss/4.png"
                                 class="script-install-img">
                            <p>- Go to to your theme select theme.liquid file and you can see the code ex: {% include 'script-tag-google-code' %}, here you have to remove those code who has prefix "script-tag".</p>
                            <img src="/static_upload/instruction_ss/5.png"
                                 class="script-install-img">
                            <p>
                                - Also you have to delete snippet from the theme snippets folder, the snippet prefix name is "script-tag" you have to delete all these files.<br>
                            </p>
                            <img src="/static_upload/instruction_ss/6.png"
                                 class="script-install-img">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Tab from "../shopify/Tab";

    export default {
        name: 'Instructions',
        components: {
            Tab,
        },
        methods: {
            init() {
                var acc = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.maxHeight) {
                            panel.style.maxHeight = null;
                        } else {
                            panel.style.maxHeight = panel.scrollHeight + "px";
                        }
                    });
                }
            },
        },
        mounted() {
            this.init();
        }
    }
</script>
<style>
    p{
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .script-install-img{
        width: 95%;
    }
</style>
