<template>
    <div class="">
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-3 sidenav"></div>
                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill" style="margin-bottom: 20px;">
                    <h2 class="Polaris-Heading text-capitalize script-plan">Insert header footer script</h2>
                </div>
                <div class="col-sm-6 text-left">
                    <div class="card-plan" style="margin-bottom: 50px;">
                        <!--        script tab-->
                        <tab type="plan"></tab>
                        <!--        END:: script tab-->
<!--                        <h6 align="left" style="margin-bottom: 1.3rem;">Insert Header Footer Script</h6>-->
                        <div class="columns" style="margin-top: 1.6rem;padding:0rem 1.6rem 1.6rem;">
                            <ul class="price">
                                <li class="header">Basic</li>
                                <li class="grey" style="background-color: #efecec;">USD$ <span style="font-size: 20px"><b>0.99</b></span>/month </br>3 days free trial</li>
                                <li class="list-group-item">Insert code to &lt;head&gt;</li>
                                <li class="list-group-item">Insert code after &lt;body&gt;</li>
                                <li class="list-group-item">Insert code before &lt;/body&gt;</li>
                                <li class="list-group-item">Add code to specific pages/products/collection</li>
                                <li class="list-group-item">Exclude  code to specific pages/products/collection</li>
                                <li class="list-group-item">Manage code listings</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-sm-3 sidenav"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import Tab from "../shopify/Tab";
    export default {
        name: 'Plan',
        components:{
            Tab,
        }
    }
</script>
