.custom-box{
    background-color: #fff;
    padding: 1.6rem;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
}
.custom-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}
.custom-row > *{
    padding-left: 8px;
    padding-right: 8px;
}
.area-settings-nav__item{
    width: 33.333%;
    @media (max-width: 767px){
        width: 100%;
    }
}
.area-settings-nav__action{
    font-size: 1.4rem;
    display: flex;
    width: 100%;
    border-radius: 3px;
    color: #212b36;
    text-decoration: none;
    padding: 1.2rem;
}
.area-settings-nav__action:hover{
    background-color: #f9fafb;
    text-decoration: none;
    outline: none;
}
.area-settings-nav__action:hover .area-settings-nav__media{
    background-color: #dfe3e8;
}
.area-settings-nav__media{
    display: flex;;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    margin-right: 1.6rem;
    border-radius: 3px;
    background-color: #f4f6f8;
}
.area-settings-nav__media .next-icon--size-20{
    fill: #919eab;
    color: transparent;
    width: 20px;
    height: 20px;
}
.area-settings-nav__action:hover .area-settings-nav__title{
    color: #084e8a;
}
.area-settings-nav__title{
    font-weight: 600;
    margin: 0;
    color: #007ace;
}
.area-settings-nav__description {
    color: #637381;
    margin: 0;
}
.w-33{
    width: 33.333%;
}
.w-25{
    width: 25%;
}
.w-100{
    width: 100%;
}
.d-flex{
    display: flex;
}
.ml-16{
    margin-left: 16px;
}
.mb-0{
    margin-bottom: 0;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 10px;
}
.align-end{
    align-items: flex-end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}

.mt-16{
    margin-top: 16px;
}
.Polaris-ResourceItem {
    position: relative;
    outline: none;
    cursor: pointer;
}
.Polaris-ResourceItem:hover{
    background-image: linear-gradient(rgba(223,227,232,.3),rgba(223,227,232,.3));
}
.Polaris-ResourceItem__Link{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.Polaris-ResourceItem__Container{
    position: relative;
    z-index: 2;
    padding: 1.2rem 2rem;
    min-height: 4.4rem;
    display: flex;
    align-items: flex-start;
}
.Polaris-ResourceItem__Media {
    flex: 0 0 auto;
    margin-right: 2rem;
    color: inherit;
    text-decoration: none;
}
.Polaris-ResourceItem__Owned {
    display: flex;
    align-self: flex-start;
}
.Polaris-ResourceItem__Content {
    min-width: 0;
    max-width: 100%;
    flex: 1 1 auto;
    align-self: center;
}
.p-0{
    padding: 0 !important;
}
.met-according{
    border-bottom: .1rem solid #dfe4e8;
}
.met-according-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: .1rem solid #dfe4e8;
    //cursor: pointer;
}
.met-according-item h2{
    font-size: 1.6rem;
    font-weight: 600;
}
.met-according-item i{
    font-size: 2rem;
}
.met-according-body{
    padding: 2rem;
}
.tag{
    position: relative;
    display: inline-block;
    border-radius: .3rem;
    margin-right: .5rem;
    padding: 0 1rem;
    line-height: 2.8rem;
    vertical-align: middle;
    background-color: #B4E1FA;
    color: #001429;
}
.item p{
    margin-bottom: 1.5rem;
}
.align-center{
    align-items: center;
}
.mr-10{
    margin-right: 10px;
}
.text-left{
    text-align:left;
}
.text-center{
    text-align:center;
}
.border-radius-0{
    border-radius: 0;
}
.mt-30{
    margin-top: 30px;
}
.ui-icon {
    margin-top: 1.5em !important;
}
.tag-color{
    background-color: #c1c0d8;
}
.Polaris-Button{
    white-space: nowrap;
}

.script-list{
    max-width: 100%;
    min-width: 100%;
    overflow-x: auto;
    th{
        border-bottom: 1px solid #ebeef0;
        padding: 8px 10px;
        font-size: 1.4rem;
    }
    tr{
        td {
            padding: 8px 10px;
            font-size: 1.4rem;
            border-bottom: 1px solid #ebeef0;
            white-space: nowrap;
        }
        &:last-child{
            td{
                border-bottom: 0;
            }
        }
    }
}
.script-show-on{
    float: left;
    width: 50%;
}
.custom-row{
    display: flex;
    flex-wrap: wrap;
}
.custom-item{
    width: 50%;
}
.mt-1 {
    margin-top: 0.5rem !important;
}
.script-list-image{
    border-radius: 3px !important;
    border: .1rem solid var(--p-border-subdued,#dfe3e8);
}

//custom model

.list-groups-div ul{
    margin: 0;
    padding: 0;
    list-style: none
}
.list-groups-div ul li{
    display: flex;
    align-items: center;
    padding: 1.6rem 2rem;
}
.list-groups-div ul li:not(:last-child){
    border-bottom: .1rem solid #dfe3e8;
}
.list-groups-div ul li label{
    padding: 0;
}

.text-capitalize{
    text-transform: capitalize;
}
.mb-25{
    margin-bottom: 25px;
}

// tooltip
.tooltip {
    display: block !important;
    z-index: 10000;

    .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 5px 10px 4px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}

.Polaris-Stack>.Polaris-Stack__Item{
    margin-left: 0rem;
}

// END:: tooltip
@media (max-width:767px){
    .d-xs-block{
        display: block !important;
    }
    .Polaris-Page{
        padding:0 15px;
    }
    .mb-xs-15{
        margin-bottom: 15px;
    }
    .mb-xs-10{
        margin-bottom: 10px;
    }
    .justify-content-xs-end{
        justify-content: flex-end;
    }
    .tag-list{
        flex-wrap: wrap;
    }
    .tag-list .tag{
        margin: 0;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .met-according-item{
        padding: 1rem;
    }
    .ad-metafield-item {
        padding: 1rem;
    }
    .icon-dragn{
        display: none !important;
    }
    .metafield-item{
        width: auto;
    }
    .metafield-item .w-25{
        width: 100%;
        margin-bottom: 1rem;
    }
    .ml-xl-0{
        margin-left: 0;
    }
    .mobile-remove-btn .Polaris-Label{
        display: none;
    }
}

button.Polaris-ActionList__Item.nh:hover {
    background: #5c6ac4;
    color: white;
}

@media (min-width:1280px) {
    .Polaris-Heading{
        font-size: 2rem;
    }
}

.insert-exclude{
    cursor: pointer;
    color: blue;
    margin-left: 1.5rem;
}
@media (min-width: 30.625em) {
    .Polaris-Card__Header {
        padding: 2rem 0rem 0rem 2rem;
    }
}
//plan -pricing
 * {
     box-sizing: border-box;
 }

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price .header {
    padding: 15px 15px;
    background: linear-gradient(180deg,#6371c7,#5563c1);
    color: white;
    font-size: 25px;
}

.price li {
    padding: 20px;
    text-align: center;
}

.price .grey {
    padding: 5px 5px;
    background-color: #eee;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
.card-plan{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
}
.card-plan-heading{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 30px;
}

a{
    color: #637381;
}
a:hover{
    text-decoration: none;
    color: #637381;
}

.Polaris-Page__Content{
    margin:0.5rem 0rem 0.5rem 0rem;
}
body{
    background-color: inherit;
}

.list-group-item{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item+.list-group-item {
    border-top-width: 0;
}
.price li {
    padding: 20px;
    text-align: center;
}

.script-plan{
    text-align: left;
    margin-top: 1.6rem;
}
//END:: planPricing

// instruction accordian
.accordion>.card:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.accordion>.card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.accordion>.card {
    overflow: hidden;
}

.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: -1px;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    background-color: #ffffff;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color:#fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-link {
    color: #000000;
}
.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

// extra

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 1.7rem;
}

.active, .accordion:hover {
    background-color: #fff;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.title-instruction{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.8rem;
}

