
<template>
    <div class="">
<!--        <back-arrow name="scripts" label="Scripts"></back-arrow>-->
        <div class="Polaris-Page__Content">
        <div class="Polaris-Page">
        <div class="Polaris-Page-Header--hasNavigation Polaris-Page-Header--hasActionMenu Polaris-Page-Header--mobileView">
            <div class="Polaris-Page-Header__MainContent">
                <div class="Polaris-Page-Header__Title">
                    <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
<!--                        <h2 class="Polaris-Heading text-capitalize" style="margin-top: 1.6rem;margin-bottom: 20px;">{{heading}}</h2>-->
                        <h2 class="Polaris-Heading text-capitalize" style="margin-top: 1.6rem;margin-bottom: 20px;">Insert header footer script</h2>
                    </div>
<!--                    <div>-->
<!--                        <h2 class="Polaris-DisplayText Polaris-DisplayText&#45;&#45;sizeLarge" style="margin-top: 1.6rem;margin-bottom: 20px;">{{heading}}</h2>-->
<!--                    </div>-->
                </div>
                <br>
            </div>
        </div>

        <div class="Polaris-Page__Content">
            <div class="Polaris-Card">
                <!--        script tab-->
                <tab type="script"></tab>
                <!--        END:: script tab-->
                <div class="Polaris-Card__Section">
                    <div class="Polaris-FormLayout">
                        <div class="Polaris-FormLayout__Item">
                            <div class="">
                                <div class="Polaris-Labelled__LabelWrapper">
                                    <div class="Polaris-Label"><label id="title" for="PolarisTextFieldTitle" class="Polaris-Label__Text">Title</label></div>
                                </div>
                                <div class="Polaris-Connected">
                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue"><input id="PolarisTextFieldTitle" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField2Label" aria-invalid="false" aria-multiline="false" value="" v-model="form.title">
                                            <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Labelled__Error" v-if="errors['data.title']"><div id="PolarisTextFieldtit;eError" class="Polaris-InlineError"><div class="Polaris-InlineError__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true"><path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm-1-8h2V6H9v4zm0 4h2v-2H9v2z" fill-rule="evenodd"></path></svg></span></div>{{errors['data.title'][0]}}</div></div>
                            </div>
                        </div>
                        <div class="Polaris-FormLayout__Item">
                            <div class="">
                                <div class="Polaris-Labelled__LabelWrapper">
                                    <div class="Polaris-Label"><label id="script" for="PolarisTextFieldScript" class="Polaris-Label__Text">Code</label></div>
                                </div>
                                <div class="Polaris-Connected">
                                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField">
                                            <textarea rows="4" class="Polaris-TextField__Input" id="PolarisTextFieldScript" v-model="form.script" style="resize: none;"></textarea>
                                            <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Labelled__LabelWrapper">
                                    <div class="Polaris-Label"><label id="title1" for="PolarisTextFieldTitle" class="Polaris-Label__Text" style="color: #637381;">Put the Script/Style you want to load in header/body/footer.</label></div>
                                </div>
                                <div class="Polaris-Labelled__Error" v-if="errors['data.script']"><div id="PolarisTextFieldscriptError" class="Polaris-InlineError"><div class="Polaris-InlineError__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true"><path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm-1-8h2V6H9v4zm0 4h2v-2H9v2z" fill-rule="evenodd"></path></svg></span></div>{{errors['data.script'][0]}}</div></div>
                            </div>
                        </div>
                    </div>
                </div>

<!--            ************* Customer eligbility ************* -->
                <div class="Polaris-Card__Section">
                    <div class="Polaris-Stack Polaris-Stack--alignmentBaseline" style="margin-left: 0.1rem;">
                        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                            <h2 class="Polaris-Heading">Condition</h2>
                        </div>
                    </div>
                    <div class="Polaris-FormLayout">
                        <div class="Polaris-FormLayout__Item">
                            <div class="Polaris-Stack Polaris-Stack--vertical">
                                <div class="Polaris-Stack__Item mt-1">
                                    <div>
                                        <label class="Polaris-Choice" for="header">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-RadioButton">
                                                            <input id="header" name="condition" type="radio" class="Polaris-RadioButton__Input" aria-describedby="headerHelpText" value="0" checked="" v-model=form.condition :selected="(form.condition === 0) ? 'selected' : '' ">
                                                            <span class="Polaris-RadioButton__Backdrop"></span>
                                                            <span class="Polaris-RadioButton__Icon"></span>
                                                        </span>
                                                    </span>
                                            <span class="Polaris-Choice__Label">Header - The script will be printed in the &lt;head&gt; section</span>
                                        </label>
                                        <div class="Polaris-Choice__Descriptions">
                                            <div class="Polaris-Choice__HelpText" id="disabledHelpText">Good for tracking codes such as google analytics.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Stack__Item mt-1">
                                    <div>
                                        <label class="Polaris-Choice" for="body">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-RadioButton">
                                                            <input id="body" name="condition" type="radio" class="Polaris-RadioButton__Input" aria-describedby="bodyHelpText" value="1" checked="" v-model=form.condition :selected="(form.condition === 1) ? 'selected' : '' ">
                                                            <span class="Polaris-RadioButton__Backdrop"></span>
                                                            <span class="Polaris-RadioButton__Icon"></span>
                                                        </span>
                                                    </span>
                                            <span class="Polaris-Choice__Label">Body - The script will be printed after the opening tag of &lt;body&gt;</span>
                                        </label>
                                        <div class="Polaris-Choice__Descriptions">
                                            <div class="Polaris-Choice__HelpText" id="disabledHelpText2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Polaris-Stack__Item mt-1">
                                    <div>
                                        <label class="Polaris-Choice" for="footer">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-RadioButton">
                                                            <input id="footer" name="condition" type="radio" class="Polaris-RadioButton__Input" aria-describedby="footerHelpText" value="2" checked="" v-model=form.condition :selected="(form.condition === 2) ? 'selected' : '' ">
                                                            <span class="Polaris-RadioButton__Backdrop"></span>
                                                            <span class="Polaris-RadioButton__Icon"></span>
                                                        </span>
                                                    </span>
                                            <span class="Polaris-Choice__Label">Body - The script will be printed before the closing tag of &lt;/body&gt;</span>
                                        </label>
                                        <div class="Polaris-Choice__Descriptions">
                                            <div class="Polaris-Choice__HelpText" id="disabledHelpText3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--           ************* Customer eligbility end*************-->

<!--           ************* Show on ************* -->
                <div class="Polaris-Card__Section">
                    <div class="custom-row">
                            <div class="custom-item">
                            <div class="Polaris-Stack Polaris-Stack--alignmentBaseline"  style="margin-left: 0.1rem;">
                                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                                    <h2 class="Polaris-Heading">Show on</h2>
                                </div>
                            </div>
                            <div class="Polaris-FormLayout">
                                <div class="Polaris-FormLayout__Item">
                                    <div class="Polaris-Stack Polaris-Stack--vertical">
                                        <div class="Polaris-Stack__Item mt-1">
                                            <div>
                                                <label class="Polaris-Choice" for="all">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-Checkbox">
                                                            <input id="all" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="all" @change="showTable('all')" :checked="form.show_on.all">
                                                            <span class="Polaris-Checkbox__Backdrop"></span>
                                                            <span class="Polaris-Checkbox__Icon">
                                                                <span class="Polaris-Icon">
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                          <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0">
                                                                          </path>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="Polaris-Choice__Label">Full website</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="Polaris-Stack__Item mt-1">
                                            <div>
                                                <label class="Polaris-Choice" for="front_page">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-Checkbox">
                                                            <input id="front_page" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="front_page" @change="showTable('front_page')" :disabled="is_disable" :checked="form.show_on.front_page">
                                                            <span class="Polaris-Checkbox__Backdrop"></span>
                                                            <span class="Polaris-Checkbox__Icon">
                                                                <span class="Polaris-Icon">
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                          <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0">
                                                                          </path>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="Polaris-Choice__Label">Front page</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="Polaris-Stack__Item mt-1">
                                            <div>
                                                <label class="Polaris-Choice" for="products">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-Checkbox">
                                                            <input id="products" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="products"  :disabled="is_disable" :checked="form.show_on.products" @change="form.show_on.products = !form.show_on.products">
                                                            <span class="Polaris-Checkbox__Backdrop"></span>
                                                            <span class="Polaris-Checkbox__Icon">
                                                                <span class="Polaris-Icon">
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                          <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0">
                                                                          </path>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="Polaris-Choice__Label">Products</span>
                                                    <a class="insert-exclude" @click="showTable('products')" v-if="form.show_on.products">Exclude</a>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="Polaris-Stack__Item mt-1">
                                            <div>
                                                <label class="Polaris-Choice" for="collections">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-Checkbox">
                                                            <input id="collections" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="collections" @change="form.show_on.collections = !form.show_on.collections" :disabled="is_disable" :checked="form.show_on.collections">
                                                            <span class="Polaris-Checkbox__Backdrop"></span>
                                                            <span class="Polaris-Checkbox__Icon">
                                                                <span class="Polaris-Icon">
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                          <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0">
                                                                          </path>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="Polaris-Choice__Label">Collections</span>
                                                    <a class="insert-exclude" @click="showTable('collections')" v-if="form.show_on.collections">Exclude</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="Polaris-Stack__Item mt-1">
                                            <div>
                                                <label class="Polaris-Choice" for="pages">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-Checkbox">
                                                            <input id="pages" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="pages" :disabled="is_disable" :checked="form.show_on.pages" @change="form.show_on.pages = !form.show_on.pages">
                                                            <span class="Polaris-Checkbox__Backdrop"></span>
                                                            <span class="Polaris-Checkbox__Icon">
                                                                <span class="Polaris-Icon">
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                          <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0">
                                                                          </path>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="Polaris-Choice__Label">Pages</span>
                                                    <a class="insert-exclude" @click="showTable('pages')" v-if="form.show_on.pages">Exclude</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="Polaris-Stack__Item mt-1">
                                            <div>
                                                <label class="Polaris-Choice" for="blogs">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-Checkbox">
                                                            <input id="blogs" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="blogs" @change="form.show_on.blogs = !form.show_on.blogs" :disabled="is_disable" :checked="form.show_on.blogs">
                                                            <span class="Polaris-Checkbox__Backdrop"></span>
                                                            <span class="Polaris-Checkbox__Icon">
                                                                <span class="Polaris-Icon">
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                          <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0">
                                                                          </path>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="Polaris-Choice__Label">Blogs</span>
                                                    <a class="insert-exclude" @click="showTable('blogs')" v-if="form.show_on.blogs">Exclude</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="Polaris-Stack__Item mt-1">
                                            <div>
                                                <label class="Polaris-Choice" for="articles">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-Checkbox">
                                                            <input id="articles" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="articles" @change="form.show_on.articles = !form.show_on.articles" :disabled="is_disable" :checked="form.show_on.articles">
                                                            <span class="Polaris-Checkbox__Backdrop"></span>
                                                            <span class="Polaris-Checkbox__Icon">
                                                                <span class="Polaris-Icon">
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                          <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0">
                                                                          </path>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="Polaris-Choice__Label">Articles</span>
                                                    <a class="insert-exclude" @click="showTable('articles')" v-if="form.show_on.articles">Exclude</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="custom-item" v-if="resource && rindex !== 'all' && rindex !== 'front_page' && is_showTable"  v-for="(resource, rindex) in form.show_on" :key="rindex">-->
<!--                            <div class="Polaris-Stack Polaris-Stack&#45;&#45;alignmentBaseline"  >-->
<!--                                <div class="Polaris-Stack__Item Polaris-Stack__Item&#45;&#45;fill">-->
<!--                                    <h2 class="Polaris-Heading text-capitalize">{{rindex}}</h2>-->
<!--                                </div>-->
<!--                                <div class="d-flex">-->
<!--                                    <button type="button" class="Polaris-Button Polaris-Button&#45;&#45;primary" @click="addResource(rindex)">-->
<!--                                        <span class="Polaris-Button__Content">-->
<!--                                            <span class="Polaris-Button__Text text-capitalize">Add {{rindex}}</span>-->
<!--                                        </span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="Polaris-FormLayout" v-if="resource && rindex !== 'all' && rindex !== 'front_page'">-->
<!--                                <div class="Polaris-FormLayout__Item">-->
<!--                                    <div class="">-->
<!--                                        <table class="w-100">-->
<!--                                            <thead>-->
<!--                                            <tr>-->
<!--                                                <th class="text-left" >-->
<!--                                                    <h3><span class="Polaris-TextStyle&#45;&#45;variationStrong text-capitalize">Image</span></h3>-->
<!--                                                </th>-->
<!--                                                <th class="text-left">-->
<!--                                                    <h3><span class="Polaris-TextStyle&#45;&#45;variationStrong">Title</span></h3>-->
<!--                                                </th>-->
<!--                                                <th class="text-left">-->
<!--                                                    <h3><span class="Polaris-TextStyle&#45;&#45;variationStrong">Action</span></h3>-->
<!--                                                </th>-->
<!--                                            </tr>-->
<!--                                            </thead>-->
<!--                                            <tbody>-->
<!--                                            <tr class="Polaris-ResourceItem" v-if="form.resourceList[rindex].length > 0" v-for="(item, index ) in form.resourceList[rindex]" :key="index">-->
<!--                                                <td class="">-->
<!--                                                    <div class="d-flex align-center">-->
<!--                                                     <span class="mr-10 Polaris-Avatar Polaris-Avatar&#45;&#45;styleSix Polaris-Avatar&#45;&#45;sizeMedium Polaris-Avatar&#45;&#45;hasImage border-radius-0">-->
<!--                                                        <img :src=item.image alt="" role="presentation" class="Polaris-Avatar__Image border-radius-0"></span>-->
<!--                                                    </div>-->
<!--                                                </td>-->
<!--                                                <td class="">-->
<!--                                                    <div class="d-flex align-center">-->
<!--                                                        <p class="mb-0">{{item.title}}</p>-->
<!--                                                    </div>-->
<!--                                                </td>-->
<!--                                                <td class=""><span class="Polaris-Button__Content" @click="removeResource(rindex,index)"><span class="Polaris-Button__Text">-->
<!--                                                         <i class="ion ion-md-trash" style="font-size: 2rem;"></i></span></span>-->
<!--                                                </td>-->
<!--                                            </tr>-->
<!--                                            </tbody>-->
<!--                                        </table>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>

                </div>
<!--           ************* Show on end ************* -->

<!--            ************* Status ************* -->
                <div class="Polaris-Card__Section">
                    <div class="Polaris-Stack Polaris-Stack--alignmentBaseline"  style="margin-left: 0.1rem;">
                        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                            <h2 class="Polaris-Heading">Status</h2>
                        </div>
                    </div>
                    <div class="Polaris-FormLayout">
                        <div class="Polaris-FormLayout__Item">
                            <div class="Polaris-Stack Polaris-Stack--vertical">
                                <div class="Polaris-Stack__Item mt-1">
                                    <div>
                                        <label class="Polaris-Choice" for="active">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-RadioButton">
                                                            <input id="active" name="status" type="radio" class="Polaris-RadioButton__Input" aria-describedby="activeHelpText" value="1" checked="" v-model=form.status :selected="(form.status === 0) ? 'selected' : '' ">
                                                            <span class="Polaris-RadioButton__Backdrop"></span>
                                                            <span class="Polaris-RadioButton__Icon"></span>
                                                        </span>
                                                    </span>
                                            <span class="Polaris-Choice__Label">Active</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="Polaris-Stack__Item mt-1">
                                    <div>
                                        <label class="Polaris-Choice" for="deactive">
                                                    <span class="Polaris-Choice__Control">
                                                        <span class="Polaris-RadioButton">
                                                            <input id="deactive" name="status" type="radio" class="Polaris-RadioButton__Input" aria-describedby="deactiveHelpText" value="0" checked="" v-model=form.status :selected="(form.status === 1) ? 'selected' : '' ">
                                                            <span class="Polaris-RadioButton__Backdrop"></span>
                                                            <span class="Polaris-RadioButton__Icon"></span>
                                                        </span>
                                                    </span>
                                            <span class="Polaris-Choice__Label">Deactive</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--           ************* Status end*************-->

            </div>
        </div>
        <div class="Polaris-PageActions">
            <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionEqualSpacing">
                <div class="Polaris-Stack__Item">
                    <div class="Polaris-ButtonGroup">
                        <div class="Polaris-ButtonGroup__Item">
                            <router-link tag="button" class="Polaris-Button" :to="{name:'scripts'}"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Cancel</span></span>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Stack__Item"><button type="button" class="Polaris-Button Polaris-Button--primary" @click="checkError()" v-bind:class="{'Polaris-Button--disabled' : ( is_sendForm  )}"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button></div>
            </div>
        </div>
    </div>
        <model ref="resourceModel" :show-model.sync="showModel" @update="closeModel"></model>
        </div>
    </div>
</template>

<script>
    import BackArrow from "../../shopify/BackArrow";
    import {ResourcePicker} from '@shopify/app-bridge/actions';
    import Model from "../../shopify/Model";
    import helper from "../../../routes/helper";
    import Tab from "../../shopify/Tab";

    export default {
        components:{
            BackArrow,
            Model,
            Tab
        },
        data(){
            return{
                is_sendForm: false,
                is_showPopup: false,
                is_disable: true,
                showModel: false,
                heading: 'Add new script',
                form:{
                    id: '',
                    title: '',
                    script: '',
                    condition: 0,
                    show_on: {
                        all: true,
                        front_page : false,
                        products : false,
                        collections : false,
                        pages : false,
                        blogs : false,
                        articles : false
                    },
                    status: 1,
                    resourceList: {
                        products: [],
                        collections : [],
                        pages : [],
                        blogs : [],
                        articles : []
                    },
                },
                errors: [],
            }
        },
        methods:{
            initForm(){
                let frm = {
                    id: '',
                    title: '',
                    script: '',
                    condition: 0,
                    show_on: {
                        all: true,
                        front_page : false,
                        products : false,
                        collections : false,
                        pages : false,
                        blogs : false,
                        articles : false
                    },
                    status: 1,
                    resourceList: {
                        products: [],
                        collections : [],
                        pages : [],
                        blogs : [],
                        articles : []
                    }
                }
                this.form = frm;
            },
            initResourceList(){
                this.form.show_on = {
                    all: true,
                    front_page : false,
                    products : false,
                    collections : false,
                    pages : false,
                    blogs : false,
                    articles : false
                };

                this.form.resourceList = {
                    products: [],
                    collections : [],
                    pages : [],
                    blogs : [],
                    articles : []
                };
            },
            async getScript(id){
                let base = this;
                base.is_load = true;
                base.scriptList = [];

                let endPoint = '/get-script?id=' + id;

                await axios.get(endPoint)
                    .then(res => {
                        base.form = res.data.data;
                        let count = 0;
                        let c = 0;
                        _.find(base.form.show_on, function (element, index) {
                            if(  index !== 'all' && index !== 'front_page' ){
                                if(element){
                                    count ++;
                                }
                            }
                            if(  index !== 'all' ){
                                if(element){
                                    c ++;
                                }
                            }
                        });
                        base.is_disable = (c <= 0);
                    })
                    .catch(err => {
                        console.log(err);
                    })
                    .finally(res => {
                        base.is_load = false;
                    });
            },
            closeModel(message, data, resource){
              this.showModel = message;
              this.form.resourceList[`${resource}`] = data;
            },
            showTable(resource){
                let base = this;
                base.form.show_on[`${resource}`] = !base.form.show_on[`${resource}`];
                if( resource === 'all' && base.form.show_on.all ){
                    base.is_disable = true;
                    base.initResourceList();
                }else{
                    base.is_disable = false;
                   if( resource !== 'all' && resource !== 'front_page' ){
                       base.openPopup(resource);
                   }
                }
                this.form.resourceList[`${resource}`] = [];
                this.errors = [];
            },
            openPopup(resource){
                this.showModel = true;
                this.$refs.resourceModel.ResourceData(resource, this.form.resourceList[`${resource}`]);
            },
            addResource(resource){
                if( resource === 'products' || resource === 'collections' ){
                    this.openPicker(resource);
                }else{
                    this.showModel = true;
                    this.$refs.resourceModel.ResourceData(resource, this.form.resourceList[`${resource}`]);
                }
            },
            removeResource(resource, index){
                this.form.resourceList[`${resource}`].splice(index, 1);
            },
            openPicker(resource_name){
                let base = this;
                let rt = ( resource_name === 'products' ) ? 'product' : 'collection';
                let rts = ( resource_name === 'products' ) ? 'Product' : 'Collection';
                const picker = ResourcePicker.create(shopify_app_bridge, {
                    resourceType: rt,
                    options: {
                        showVariants: false,
                    },
                });

                picker.dispatch(ResourcePicker.Action.OPEN);
                picker.subscribe(ResourcePicker.Action.SELECT, ({selection}) => {
                    selection.forEach(function (value, index) {
                        let resource = {};

                        let resource_id = ( value.id.length > 0 ) ? value.id.replace("gid://shopify/" + rts + "/", "") : '';
                        let title = ( value.title.length > 0 ) ? value.title : '';
                        let image = (resource_name === 'products') ?  ( value.images.length > 0 ) ? value.images[0].originalSrc : '' : ( value.image ) ? value.image : '';
                        let handle = (value.handle.length > 0 ) ? value.handle : '';

                        resource = {
                            resource_id: resource_id,
                            title: title,
                            image: ( image === '') ? '/static_upload/no-image-box.png' : image,
                            handle: handle
                        }
                        if( base.form.resourceList[resource_name].length > 0 ){
                            let result = _.find(base.form.resourceList[resource_name], function (o) {
                                return o.resource_id === resource_id;
                            });
                            if (typeof result == "undefined") {
                                base.form.resourceList[`${resource_name}`].push(resource);
                            }
                        }else{
                            base.form.resourceList[`${resource_name}`].push(resource);
                        }
                    });
                });
            },
            checkError(){
                this.is_sendForm = true;
                helper.startLoading();

                let base = this;
                let count = 0;

                let checked =  _.find(base.form.show_on, function (element, index) {
                    if( element ){
                        return true;
                    }
                });
                if( checked ){
                    base.sendForm();
                }else{
                    base.is_sendForm = false;
                    helper.stopLoading();
                    var msg = 'Select atleast 1 resource';
                    helper.errorToast(msg);
                }

            },
            async sendForm(){
                let base = this;
                let url = 'save-script';
                let method = 'post';

                await axios({
                    url: url,
                    data: {
                        'data': base.form,
                    },
                    method: method,
                }).then(function (res) {
                    base.is_sendForm = false;
                    helper.stopLoading();
                    helper.successToast(res.data.data);
                    base.$router.push({name: 'scripts'});
                })
                    .catch(function (err) {
                        base.is_sendForm = false;
                        helper.stopLoading();
                        base.errors = err.response.data;
                        console.log(base.errors);
                    });
            }
        },
        created(){
            let id = this.$route.query.id;
            this.heading = 'Add new script';
            if( id !== '' ){
                this.getScript(id);
                this.heading = 'Edit script';
            }
        }
    }
</script>
