<template>
    <div class="">
        <!--        script tab-->
        <tab type="script"></tab>
        <!--        END:: script tab-->

        <content-loader :width="300" :height="200" primaryColor="#e0e4e8" class="Polaris-Page__Content" v-if="is_contentload">
            <!--            first section-->
            <rect x="10" y="10" rx="3" ry="3" width="50" height="10"/>
            <rect x="170" y="10" rx="3" ry="3" width="70" height="10"/>
            <rect x="0" y="30" rx="3" ry="3" width="250" height="1"/>

            <!--            second section-->
            <rect x="10" y="40" rx="3" ry="3" width="190" height="10"/>

            <rect x="210" y="40" rx="3" ry="3" width="10" height="10"/>
            <rect x="225" y="40" rx="3" ry="3" width="10" height="10"/>

            <!--            third section-->
            <rect x="10" y="60" rx="3" ry="3" width="190" height="10"/>

            <rect x="210" y="60" rx="3" ry="3" width="10" height="10"/>
            <rect x="225" y="60" rx="3" ry="3" width="10" height="10"/>

            <!--            fourth section-->
            <rect x="10" y="80" rx="3" ry="3" width="190" height="10"/>

            <rect x="210" y="80" rx="3" ry="3" width="10" height="10"/>
            <rect x="225" y="80" rx="3" ry="3" width="10" height="10"/>

            <!--            fifth section-->
            <rect x="10" y="100" rx="3" ry="3" width="190" height="10"/>

            <rect x="210" y="100" rx="3" ry="3" width="10" height="10"/>
            <rect x="225" y="100" rx="3" ry="3" width="10" height="10"/>
            <!--            sixth section-->
            <rect x="10" y="120" rx="3" ry="3" width="190" height="10"/>

            <rect x="210" y="120" rx="3" ry="3" width="10" height="10"/>
            <rect x="225" y="120" rx="3" ry="3" width="10" height="10"/>
        </content-loader>
        <div v-else-if="scriptList.length <= 0 && !is_filter"  class="Polaris-EmptyState Polaris-EmptyState--withinPage">
            <div class="Polaris-EmptyState__Section">
                <div class="Polaris-EmptyState__DetailsContainer">
                    <div class="Polaris-EmptyState__Details">
                        <div class="Polaris-TextContainer">
                            <h2 class="Polaris-Heading text-capitalize" style="font-size: 3rem;"></h2>
                            <p class="Polaris-DisplayText Polaris-DisplayText--sizeMedium" style="font-weight: 700;font-size: 2.1rem;">Add Script Code</p>
                            <div class="Polaris-EmptyState__Content" style="font-size: 1.6rem;">
                                <p>Add custom code to &lt;head&gt; section, after &lt;body&gt; or before &lt;/body&gt; tag.</p>
                            </div>
                        </div>
                        <div class="Polaris-EmptyState__Actions">
                            <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                <div class="Polaris-Stack__Item">
                                    <router-link :to="{name :'addscripts', query : {id : ''}}" tag="button" class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeLarge">
                                    <span class="Polaris-Button__Content">
                                        <span class="Polaris-Button__Text">Add script</span>
                                    </span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-EmptyState__ImageContainer"><img src="/static_upload/no metafileds.png" role="presentation" alt="" class="Polaris-EmptyState__Image"></div>
            </div>
        </div>

        <div class="Polaris-Page__Content" v-else-if="scriptList.length > 0 || is_filter">
            <div class="Polaris-Card__Header">
                <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                    <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                        <h2 class="Polaris-Heading text-capitalize">All Scripts</h2>
                    </div>

                    <div class="d-flex">
                        <router-link :to="{name :'addscripts', query : {id : ''}}" tag="button"
                                     class="Polaris-Button Polaris-Button--primary">
                                        <span class="Polaris-Button__Content">
                                            <span class="Polaris-Button__Text">Add Script</span>
                                        </span>
                        </router-link>
                    </div>
                </div>
                <br>
            </div>

            <div class="Polaris-Card" style="overflow: visible;">
                <div class="Polaris-Card__Section">
                    <div class="d-flex justify-content-between{">
                        <div class="Polaris-Connected w-100">
                            <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented w-100">
                                <div class="Polaris-ButtonGroup__Item">
                                    <div>
                                        <button type="button" id='' class="Polaris-Button scriptTagfilter" tabindex="0"
                                                aria-controls="Polarispopover2" aria-owns="Polarispopover2"
                                                aria-expanded="true" @click="filterM('openFilter')"><span
                                            class="Polaris-Button__Content"><span
                                            class="Polaris-Button__Text">Filters</span><span
                                            class="Polaris-Button__Icon">
                                                    <div class="Polaris-Button__DisclosureIcon"><span
                                                        class="Polaris-Icon"><svg viewBox="0 0 20 20"
                                                                                  class="Polaris-Icon__Svg"
                                                                                  focusable="false" aria-hidden="true">
                                                              <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>
                                                            </svg></span></div>
                                                      </span></span>
                                        </button>
                                    </div>
                                </div>
                                <div v-if="showFilter"
                                     class="Polaris-PositionedOverlay  scriptTagfilter Polaris-Popover__PopoverOverlayPolaris-Popover__PopoverOverlay--open"
                                     style="top: 37px; left: 0;">
                                    <div class="Polaris-Popover" style="margin: 0;" data-polaris-overlay="true">
                                        <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
                                        <div class="Polaris-Popover__Wrapper" style="padding: 1.6rem;">
                                            <div id="Polarispopover2" tabindex="-1" class="Polaris-Popover__Content">
                                                <div
                                                    class="Polaris-Popover__Pane Polaris-Scrollable Polaris-Scrollable--vertical"
                                                    data-polaris-scrollable="true">
                                                    <p class="mb-10">
                                                        Choose Collection:
                                                    </p>
                                                    <div class="Polaris-Select"><select id="PolarisSelect01"
                                                                                        aria-invalid="false"  v-model=filter
                                                                                        class="Polaris-Select__Input" @change="filterM('changeFilter')" >
                                                        <option value="" disabled selected>
                                                            Choose Filter
                                                        </option>
                                                        <option value="Position" :selected="(filter === 'Position') ? 'selected' : '' ">
                                                            Position
                                                        </option>
                                                    </select>
                                                        <div aria-hidden="true" class="Polaris-Select__Content"><span
                                                            class="Polaris-Select__SelectedOption">{{filter}}</span><span
                                                            class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg
                                                            viewBox="0 0 20 20" focusable="false" aria-hidden="true"
                                                            class="Polaris-Icon__Svg"><path
                                                            d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z"
                                                            fill-rule="evenodd"></path></svg></span></span></div>
                                                        <div class="Polaris-Select__Backdrop"></div>
                                                    </div>
                                                    <p>is</p>
                                                    <div class="Polaris-Select"><select id="PolarisSelect02"
                                                                                        aria-invalid="false" v-model="filterValue"
                                                                                        class="Polaris-Select__Input" @change="filterM('changeFilterValue')">
                                                        <option value="" disabled selected>
                                                            Select value
                                                        </option>
                                                        <option value="0" :selected="(filterValue === '0') ? 'selected' : '' ">
                                                            Header
                                                        </option>
                                                        <option value="1" :selected="(filterValue === '1') ? 'selected' : '' ">
                                                            Body
                                                        </option>
                                                        <option value="2" :selected="(filterValue === '2') ? 'selected' : '' ">
                                                            Footer
                                                        </option>
                                                    </select>
                                                        <div aria-hidden="true" class="Polaris-Select__Content"><span class="Polaris-Select__SelectedOption">{{filterDisplayValue}}</span><span
                                                            class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg
                                                            viewBox="0 0 20 20" focusable="false" aria-hidden="true"
                                                            class="Polaris-Icon__Svg"><path
                                                            d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z"
                                                            fill-rule="evenodd"></path></svg></span></span></div>
                                                        <div class="Polaris-Select__Backdrop"></div>
                                                    </div>

                                                    <button style="margin-top: 0.8rem;" type="button" class="Polaris-Button Polaris-Button--default" @click="filterM('sendFilter')">
                                                        <span class="Polaris-Button__Content">
                                                            <span class="Polaris-Button__Text">Add</span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
                                    </div>
                                </div>
                                <div class="Polaris-ButtonGroup__Item w-100">
                                    <div
                                        class="Polaris-Connected__Item Polaris-Connected__Item--primary products-searchbar">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                            <div class="Polaris-TextField__Prefix"><span
                                                class="Polaris-Icon Polaris-Icon--hasBackdrop" aria-label=""><svg
                                                class="Polaris-Icon__Svg" viewBox="0 0 20 20"><path
                                                d="M8 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm9.707 4.293l-4.82-4.82C13.585 10.493 14 9.296 14 8c0-3.313-2.687-6-6-6S2 4.687 2 8s2.687 6 6 6c1.296 0 2.492-.415 3.473-1.113l4.82 4.82c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"
                                                fill="#95a7b7" fill-rule="evenodd"></path></svg></span></div>
                                            <input type="search" v-model="search" name="search_keyword"
                                                   class="Polaris-TextField__Input browse_buy_product_search"
                                                   aria-invalid="false"
                                                   placeholder="Search title" autocomplete="off">
                                            <div class="Polaris-TextField__Backdrop"
                                                 style="border-top-left-radius: 0;border-bottom-left-radius: 0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="Polaris-Button Polaris-Button--primary ml-16"><span
                            class="Polaris-Button__Content" v-on:click="getScripts('/get-scripts?api=1&title=' + search)"
                            v-model="search"><span
                            class="Polaris-Button__Text">Search</span></span></button>
                    </div>
                    <div class="Polaris-Labelled__HelpText mb-15">Type at least 3 characters</div>

                    <div class="script-list">
                        <table class="w-100">
                            <thead>
                            <tr v-if="scriptList.length > 0">
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong text-capitalize">Title</span>
                                    </h3>
                                </th>
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Position</span></h3>
                                </th>
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Status</span></h3>
                                </th>
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Publish</span></h3>
                                </th>
                                <th align="right">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Action</span></h3>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="Polaris-ResourceItem" v-if="scriptList.length > 0"
                                v-for="(script, index) in scriptList" :key="index">
                                <router-link tag="td" class="" :to="{name :'addscripts', query : {id : script.id}}">
                                    <div class="d-flex align-center">
                                        <p class="mb-0">{{script.title}}</p>
                                    </div>
                                </router-link>
                                <router-link tag="td" class="" :to="{name :'addscripts', query : {id : script.id}}">
                                    <div class="d-flex align-center">
                                        <p class="mb-0">{{script.position}}</p>
                                    </div>
                                </router-link>
                                <router-link tag="td" class="" :to="{name :'addscripts', query : {id : script.id}}">
                                    <div
                                        style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                                        <span
                                            :class="( script.status === 'Deactive'  ) ? 'Polaris-Badge--progressComplete' : 'Polaris-Badge--statusSuccess'"
                                            class="Polaris-Badge"><span
                                            class="Polaris-Badge__Content">{{script.status}}</span></span></div>
                                </router-link>
                                <router-link tag="td" class="" :to="{name :'addscripts', query : {id : script.id}}">
                                    <div class="d-flex align-center">
                                        <p class="mb-0">{{script.published_at}}</p>
                                    </div>
                                </router-link>
                                <td class="">
                                    <div class="" align="right">
                                        <button type="button" v-tooltip.top-center="(script.status === 'Active') ? 'Deactivate' : 'Activate'" class="Polaris-Button mr-10" style="padding: .5rem 1rem;"
                                                @click="disableScript(script.id, (script.status === 'Active') ? 'deactive' : 'active', script.title)">
                                            <span class="Polaris-Button__Content">
                                                <span class="Polaris-Button__Text">
                                                     <img src="/static_upload/icons/hide.svg" width="15" v-if="script.status === 'Active'">
                                                    <img src="/static_upload/icons/view.svg" width="15" v-else>
                                                </span>
                                            </span>
                                        </button>

                                        <router-link :to="{name :'addscripts', query : {id : script.id}}" tag="button"
                                                     class="Polaris-Button mr-10" style="padding: .5rem 1rem;">
                                            <span class="Polaris-Button__Content">
                                                <span class="Polaris-Button__Text">
                                                    <img src="/static_upload/icons/edit.svg" width="15">
                                                </span>
                                            </span>
                                        </router-link>

                                        <button type="button" class="Polaris-Button" style="padding: .5rem 1rem;"
                                                @click="removeScript(script.id, script.title)">
                                            <span class="Polaris-Button__Content">
                                                <span class="Polaris-Button__Text">
                                                    <img src="/static_upload/icons/delete.svg" width="15">
                                                </span>
                                            </span>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                            <tr v-if="is_filter && scriptList.length <= 0">
                                <td colspan="4" class="text-center">
                                    <svg style="fill: #c3cfd8;width: 80px;margin-bottom: 5px;"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path
                                            d="M8 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm9.707 4.293l-4.82-4.82C13.585 10.493 14 9.296 14 8c0-3.313-2.687-6-6-6S2 4.687 2 8s2.687 6 6 6c1.296 0 2.492-.415 3.473-1.113l4.82 4.82c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"></path>
                                    </svg>
                                    <h2 class="Polaris-Heading">Could not find any script</h2>
                                    <p class="Polaris-TextStyle--variationSubdued">Try changing the filters or
                                        search term</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import BackArrow from "../../shopify/BackArrow";
    import {Button, ContextualSaveBar, Modal, Toast} from "@shopify/app-bridge/actions";
    import helper from "../../../routes/helper";
    import {ContentLoader} from 'vue-content-loader';
    import Tab from "../../shopify/Tab";

    export default {
        components: {
            BackArrow,
            ContentLoader,
            Tab
        },
        data() {
            return {
                is_contentload: true,
                search: '',
                is_load: false,
                scriptList: [],
                showFilter: false,
                filter: 'Choose filter',
                filterValue: 'Choose value',
                filterDisplayValue: 'Choose value',
                is_filter: false,
            }
        },
        methods: {
            async getScripts(url) {
                this.is_contentload = true;
                if( this.filter !== 'Choose filter' || this.search !== ''){
                    this.is_filter = true;
                }

                helper.startLoading();
                let base = this;
                base.is_load = true;
                base.scriptList = [];

                await axios.get(url)
                    .then(res => {
                        var data = res.data.data;
                        base.scriptList = data;
                        base.filter = 'Choose filter';
                        base.filterValue = 'Choose value';
                        base.filterDisplayValue = 'Choose value';

                    })
                    .catch(err => {
                        console.log(err);
                    })
                    .finally(res => {
                        helper.stopLoading();
                        this.is_contentload = false;
                    });
            },
            removeScript(id, title) {
                let base = this;
                const okButton = Button.create(shopify_app_bridge, {label: 'Delete script'});
                const cancelButton = Button.create(shopify_app_bridge, {label: 'Cancel'});
                const modalOptions = {
                    title: 'Delete ' + title + '?',
                    message: 'Are you sure to delete the script ' + title +'?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };
                const myModal = Modal.create(shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);
                cancelButton.subscribe(Button.Action.CLICK, data => {
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                okButton.subscribe(Button.Action.CLICK, data => {
                    helper.startLoading();
                    myModal.dispatch(Modal.Action.CLOSE);
                    let endPoint = '/delete-script?id=' + id;
                    axios.get(endPoint)
                        .then(res => {
                            helper.stopLoading();
                            helper.successToast(res.data.data);
                            base.getScripts('/get-scripts?api=1');
                        })
                        .catch(err => {
                            helper.stopLoading();
                            console.log(err);
                        });
                });
            },
            disableScript(id, status, title) {
                let base = this;
                let action = status.charAt(0).toUpperCase() + status.slice(1);
                const okButton = Button.create(shopify_app_bridge, {label: action +' script'});
                const cancelButton = Button.create(shopify_app_bridge, {label: 'Cancel'});
                const modalOptions = {
                    title:  action + ' ' + title + '?',
                    message: 'Are you sure to ' + status + ' the script ' + title + '?',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };
                const myModal = Modal.create(shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);
                cancelButton.subscribe(Button.Action.CLICK, data => {
                    myModal.dispatch(Modal.Action.CLOSE);
                });
                okButton.subscribe(Button.Action.CLICK, data => {
                    helper.startLoading();
                    myModal.dispatch(Modal.Action.CLOSE);
                    let endPoint = '/disable-script?id=' + id;
                    axios.get(endPoint)
                        .then(res => {
                            helper.stopLoading();
                            helper.successToast(res.data.data);
                            base.getScripts('/get-scripts?api=1');
                        })
                        .catch(err => {
                            helper.stopLoading();
                            console.log(err);
                        });
                });
            },
            filterM(action){
                if( action === 'openFilter' ){
                    this.showFilter = !this.showFilter;
                    if( !this.showFilter ){
                        this.filter = 'Choose filter';
                        this.filterValue = 'Choose value';
                        this.filterDisplayValue = 'Choose value';
                    }
                }else if( action === 'changeFilterValue' ){
                    let val = '';
                    if( this.filterValue == 0 ){
                        val = 'Header';
                    }else if( this.filterValue == 1 ){
                        val = 'Body';
                    }else{
                        val = 'Footer';
                    }
                    this.filterDisplayValue = val;
                }else if( action === 'sendFilter' ){
                    if( this.filterValue !== 'Choose value' ){
                        let filter = '';
                        if(  this.filter === 'Position' ){
                            filter = 'condition';
                        }
                        this.getScripts('/get-scripts?api=1&filter=' + filter + '&value=' + this.filterValue);
                        this.showFilter = false;
                    }
                }
            },
            documentClick(e){
                let base = this;
                let filter_selector = $('.scriptTagfilter');
                if (!filter_selector.is(e.target) && filter_selector.has(e.target).length === 0) {
                    base.showFilter=false; // problem is this value false for first match dropdown only.
                    base.filter = 'Choose filter';
                    base.filterValue = 'Choose value';
                    base.filterDisplayValue = 'Choose value';
                }
            }
        },
        created() {
            this.getScripts('/get-scripts?api=1');
            document.onclick = this.documentClick;
        }
    }
</script>
