<template>
<div id="script-tag-resource-picker" style="display: none;">
    <div>
        <div class="Polaris-Modal-Dialog__Container undefined" data-polaris-layer="true" data-polaris-overlay="true" >
            <div>
                <div role="dialog" aria-labelledby="modal-header2" tabindex="-1" class="Polaris-Modal-Dialog">
                    <div class="Polaris-Modal-Dialog__Modal">
                        <div class="Polaris-Modal-Header">
                            <div id="modal-header2" class="Polaris-Modal-Header__Title">
                                <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">Add {{resource}} URLs</h2>
                            </div><button class="Polaris-Modal-CloseButton" aria-label="Close" @click="closeModel()"><span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                  <path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill-rule="evenodd"></path>
                </svg></span></button>
                        </div>
                        <div class="Polaris-Modal__BodyWrapper">
                            <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
                                <section class="Polaris-Modal-Section">
                                    <div class="Polaris-TextContainer">
                                        <div class="Polaris-TextField">
                                            <textarea v-model="textData" class="Polaris-TextField__Input" id="my-text-area" rows="7" placeholder="https://demo.myshopify.com/products/product1"></textarea>
                                            <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                    </div>
                                    <p style="color:red;">Note*: URL per line.</p>
                                </section>
                            </div>
                        </div>
                        <div class="Polaris-Modal-Footer">
                            <div class="Polaris-Modal-Footer__FooterContent">
                                <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                    <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
                                    <div class="Polaris-Stack__Item">
                                        <div class="Polaris-ButtonGroup">
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button" class="Polaris-Button" @click="closeModel()">
                                                    <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text">Cancel</span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="Polaris-ButtonGroup__Item">
                                                <button type="button" class="Polaris-Button Polaris-Button--primary" @click="addDataInList()">
                                                    <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text">Add</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Polaris-Backdrop"></div>
</div>
</template>
<script>
    var modal = "";
    export default {
        name: 'Model',
        props: ['showModel'],
        data(){
            return{
                resource: '',
                textData: '',
                resourceList: [],
            }
        },
        methods:{
            closeModel() {
                this.$emit('update', false, this.resourceList, this.resource);
                this.textData = '';
            },
            async ResourceData(resource, resourceList){
                this.resource = resource;

                if( resourceList.length > 0 ){
                    this.resourceList = resourceList;
                    var data = resourceList.join(',');
                    let text = data.replace(/,/g, '\n');
                    this.textData = text;
                }else{
                    this.resourceList = [];
                }
            },
            addDataInList(){
                let base = this;
                var lines = document.getElementById("my-text-area");
                var arrayOfLines = lines.value.split("\n");

                base.resourceList = [];
                for(var i = 0;i < arrayOfLines.length;i++){
                    if(  arrayOfLines[i] !== '' ) {
                        base.resourceList.push(arrayOfLines[i]);
                    }
                }
                this.closeModel();
                console.log( base.resourceList);
            }
        },
        watch: {
            showModel(newVal, oldVal) {
                if (newVal === true) {
                    modal.style.display = "block";
                } else {
                    modal.style.display = "none";
                }
            },
        },
        mounted() {
            modal = document.getElementById("script-tag-resource-picker");
        },
        filters:{
            format(str, count){
                return ( count === 1 ) ? str.substring(0, str.length - 1) : str;
            }
        }
    }
</script>
