<template>
    <div class="">
        <div>
            <div class="Polaris-Tabs__Wrapper">
                <ul role="tablist" class="Polaris-Tabs">
                    <li class="Polaris-Tabs__TabContainer">
                        <router-link id="all-customers" :to="{name :'scripts'}" tag="button" role="tab" type="button" tabindex="0" class="Polaris-Tabs__Tab" v-bind:class="{'Polaris-Tabs__Tab--selected' : ( type === 'script')}" aria-selected="true" aria-controls="all-customers-content" aria-label="Apps Metafields">
                            <span class="Polaris-Tabs__Title">Script</span>
                        </router-link>
                    </li>
                    <li class="Polaris-Tabs__TabContainer">
                        <router-link id="plan-pricing" :to="{name :'plan-pricing'}" tag="button" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" v-bind:class="{'Polaris-Tabs__Tab--selected' : ( type === 'plan')}"aria-controls="accepts-marketing-content">
                            <span class="Polaris-Tabs__Title">Plan & Pricing</span>
                        </router-link>
                    </li>
                    <li class="Polaris-Tabs__TabContainer">
                        <router-link id="instructions" :to="{name :'instructions'}" tag="button" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" v-bind:class="{'Polaris-Tabs__Tab--selected' : ( type === 'instructions')}"aria-controls="accepts-marketing-content">
                            <span class="Polaris-Tabs__Title">Instructions</span>
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    name: 'Tab',
    props: ['type'],
}
</script>
